.cat-info > p {
  font-size: 20px;
  color: red;
}
.error {
  font-size: 20px;
  color: red;
}
body {
  background-color: #ccc;
}
.breed-select {
  display: block;
  min-width: 200px;
  font-size: 25;
  padding: 10px;
  margin-bottom: 30px;
  border-style: none;
}
.cat-info {
  display: flex;
}
.image {
  width: 50%;
  height: auto;
}
.cat-description {
  padding: 5px 10px;
}
.breed-title {
  display: inline-block;
  margin: 0;
  font-size: 20;
}
.breed-description {
  display: inline-block;
  margin: 0;
  font-size: 16;
}
.temperament {
  display: flex;
  margin-top: 10px;
  align-items: baseline;
}
.temperament-title {
  margin: 0;
  margin-right: 5px;
  font-size: 20;
}
.temperament-description {
  margin: 0;
  font-size: 16;
}

.loader {
  width: 200px;
  height: 200px;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid red;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 1s linear infinite;
}
.loader::after {
  animation-delay: 0, 2s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
